@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap");
@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}

:root {
  --color-gray-60: #475569;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  padding: 60px 16px;
}

a {
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
}

button:active {
  transform: scale(0.98);
}
/* Custom shadow */
.shadow-custom {
  box-shadow: 15px 16px 20px rgba(0, 0, 0, 0.08);
}

.footer-bg {
  background-image: url(backgroundNoise.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* nav */

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 0 16px;
}
@media screen and (min-width: 1024px) {
  .nav {
    height: 108px;
  }
}

@media screen and (max-width: 1024px) {
  .nav button {
    margin: 20px 0;
  }
}

.nav__brand {
  display: grid;
  align-items: center;
  width: 238.56px;
  height: 48px;
}
.nav__brand img {
  width: 100%;
}

.nav__list-item {
  list-style: none;
  padding: 20px 10px;
  border-bottom: 1px solid var(--color-gray-60);
}

.nav__list-item > a {
  text-decoration: none;
  cursor: pointer;
}

.nav .collapsible__toggler {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid #fff;
}

@media screen and (min-width: 1024px) {
  .nav {
    display: grid;
    grid-template: 100% / 238.56px 100fr;
    align-items: center;
  }

  .nav .nav__list {
    display: flex;
    gap: 33px;
  }
  .nav__list-item {
    border-bottom: 0;
  }
}

/* start collapsible function */

.collapsible__group {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.collapsible--expanded .collapsible__group {
  max-height: 100vh;
  opacity: 1;
  transition: 1s ease;
}

.collapsible__toggler:active {
  transform: scale(0.95);
}
.collapsible__toggler:hover {
  border-radius: 0.5rem;
  transition: 0.4s ease;
}

.collapsible--expanded .collapsible__toggler {
  border-radius: 0.5rem;
  transition: 0.4s ease;
  border: 2px solid var(--color-gray-60);
}

@media screen and (min-width: 1024px) {
  .collapsible__toggler {
    display: none;
  }

  .collapsible .collapsible__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    max-height: 100%;
  }
}

/* gradient */
.gradient {
  background: #ff6fb9;
  background: linear-gradient(
    45deg,
    rgba(255, 111, 185, 0.1) 0%,
    rgba(103, 151, 255, 0.1) 100%
  );
}
/*  */

@keyframes floate {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.robot-bounce {
  animation: floate 4s ease-in-out infinite;
}

/* NotFound.css */

.not-found-container {
  height: 100vh;
  background-color: #fff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-family: "Orbitron", sans-serif;
}

.not-found-content {
  max-width: 500px;
}

.glow-text {
  font-size: 8rem;
  margin: 0;
  color: #002868;
  text-shadow: 0 0 10px #002868, 0 0 20px #002868, 0 0 30px #002868;
}

.subheading {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #bbbbbb;
}

.description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #999999;
}

.btn {
  background-color: #002868;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #001f4d;
}

@media (max-width: 600px) {
  .glow-text {
    font-size: 5rem;
  }
  .subheading {
    font-size: 1.25rem;
  }
  .description {
    font-size: 0.95rem;
  }
}
